@{
    ViewBag.Title = "Contact Thom Luce";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Copeland 230 (whenever we can get back in the building)<br />
    Ohio University<br />
    Athens, OH 45701
</address>

<address>
    <strong>Email me</strong>   <a href="mailto:luce@ohio.edu">luce@ohio.edu</a><br />

</address>